body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  min-width: 320px;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link.current {
  color: #404bbf;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
  padding: 112px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 320px;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-ofice-mobil.jpg");
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-ofice-mobil@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-ofice-tablet@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-ofice-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-ofice-masaüstü.jpg");
  }
}

@media screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1158px) and (min-resolution: 192dpi),
  screen and (min-width: 1158px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-ofice-masaüstü@2x.jpg");
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 288px;
  margin: 0 auto 72px auto;
}

@media screen and (min-width: 1158px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 48px auto;
  }
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  width: 100%;
}

.icon-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .icon-container {
    display: flex;
  }
}
.icon {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.team-section {
  background-color: #f4f4fd;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .form-card {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
}
.team-content {
  padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.team-social {
  display: flex;
  justify-content: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
  height: 24px;
  width: 24px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-overlay,
.portfolio-card:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-footer .logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-studio-light {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin: 0;
}

.social-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  text-align: center;
}

.footer-social-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.subscribe-input {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
    padding-left: 108px;
  }

  .footer-logo-box {
    align-items: flex-start;
  }

  .footer-text {
    text-align: left;
  }

  .footer-social-box {
    align-items: flex-start;
  }

  .subscribe-container {
    align-items: flex-start;
  }

  .subscribe-form {
    flex-direction: row;
  }

  .subscribe-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    padding-left: 15px;
    gap: 0;
  }

  .footer-logo-box {
    margin-right: 120px;
  }

  .footer-social-box {
    margin-right: 80px;
  }

  .subscribe-container {
    margin-left: auto;
  }
}

.page-footer .social-list {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-footer .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .social-link:hover,
.page-footer .social-link:focus {
  background-color: #31d0aa;
}

.page-footer .social-icon {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 0;
}

.subscribe-input {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 12px 16px;
  color: #ffffff;
  width: 264px;
  height: 40px;
  font-size: 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
  color: #e0e0e0;
}

.subscribe-input:focus {
  border-color: #5560ea;
}

.subscribe-btn {
  background-color: #5560ea;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 8px 24px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  height: 40px;
  min-width: 165px;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover {
  background-color: #434dc9;
}

.subscribe-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  margin-bottom: 2px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.form-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  background-color: #fcfcfc;
  border-radius: 4px;
  max-height: 95vh;
  overflow-y: auto;
  padding: 72px 16px 24px 16px;
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .form-card {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background: #eef0f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn svg {
  width: 14px;
  height: 14px;
  fill: #6b7280;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover svg,
.close-btn:focus svg {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-group {
  margin-bottom: 15px;
}

.textarea-group {
  margin-bottom: 20px;
}

.modal-label {
  display: block;
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 5px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 6px;
  font-size: 14px;
  outline: transparent;
  background-color: transparent;
  box-sizing: border-box;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 15px;
  width: 20px;
  height: 20px;
  fill: #111827;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 6px;
  font-size: 14px;
  outline: transparent;
  resize: none;
  height: 100px;
  box-sizing: border-box;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  color: #8e8f99;
  cursor: pointer;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 10px;
  flex-shrink: 0;
  vertical-align: middle;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-label .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 4px;
}

.submit-btn {
  display: block;
  margin: 24px auto 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 72px 24px 40px 16px;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-nav-link.current {
  color: #404bbf;
}

.mobile-address {
  font-style: normal;
  margin-bottom: 48px;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-address-link.accent {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.11;
  color: #4d5ae5;
}

.mobile-social-list {
  display: flex;
  gap: 40px;
}

.mobile-social-item {
  width: 40px;
  height: 40px;
}

.mobile-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-social-icon {
  fill: #f4f4fd;
}

.nav-list {
  display: none;
}

.address {
  display: none;
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  margin-left: auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }

  .address {
    display: block;
  }

  .address-list {
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .mobile-menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}